.comment-highlight-yellow {
    background-color: rgba(234, 179, 8, 0.2);
    border-bottom: 2px solid rgb(234, 179, 8);
}

.comment-highlight-orange {
    background-color: rgba(249, 115, 22, 0.2);
    border-bottom: 2px solid rgb(249, 115, 22);
}

.comment-highlight-green {
    background-color: rgba(34, 197, 94, 0.2);
    border-bottom: 2px solid rgb(34, 197, 94);
}

.comment-highlight-cyan {
    background-color: rgba(20, 75, 148, 0.2);
    border-bottom: 2px solid rgb(20, 75, 148);
}

.comment-highlight {
    background-color: rgba(59, 130, 246, 0.2);
    border-bottom: 2px solid rgb(59, 130, 246);
}